/* Global Variables */

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Set the root font size */
html {
  font-size: 16px; 
}

.main {
  background-color: white;
  height: 100vh;
}

/* HEADER.JSX COMPONENT */
.header {
  display: flex;
  flex-direction: column;
  text-align: center; 
  padding: 1rem 5rem;
  padding-bottom: 5rem;
  background-color:#EBECED;
}

.header .nav a {
  text-decoration: none;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.25rem;
}

.header .navLinks {
  display: flex;
  align-items: center;
}

.header .logo {
  font-size: 3rem;
}

.header h1 {
  font-size: 4rem;
  margin: 2rem;
}

.header h2 {
  font-size: 2rem;
}

/* Nav Bar */
.nav {
  display: flex;
  flex-direction: row;
  margin: 5rem 2rem;
}

.nav ul {
  display: flex;
  gap: 5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LOCATION.JSX COMPONENT */
.location {
  display: flex;
  flex-direction: column;
  border: .25rem solid black;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.location p {
  font-size: 1.25rem;
  font-weight: bold;
}

.location img {
  max-width: 25rem;
  max-height: 25rem;
}

/* Location Component Edit Buttons */
.location .locationEditButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
}

.location .locationEditButtons button {
  padding: .4rem 1rem;
  background-color: lightpink;
  border-radius: .25rem;
}



/* ADDLOCATIONBUTTON.JSX COMPONENT */
.addLocationButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: .25rem solid black;
}

.addLocationButton button {
  padding: 2rem;
  background-color: lightpink;
  color: white;
  font-size: 1.1rem;
  border-radius: .25rem;
}

/* ADDLOCATION.JSX COMPONENT */
.addLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addLocation label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hours label {
  display: flex;
  flex-direction: column;
}

.hours p {
  display: flex;
  justify-content: center;
}

.wifiSpeed p {
  display: flex;
  justify-content: center;
}

.wifiSpeed label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wifiSpeedDown {
  display: flex;
  flex-direction: column;
}


.addLocation .addLocationSubmitButton {
  padding: .4rem 1rem;
  background-color: lightpink;
  border-radius: .25rem;
}
